/* stylelint-disable max-line-length */

/* AstraZeneca brand fonts */
@font-face {
  font-family: lexia;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lexia-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'helvetica neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/helvetica-neue-regular.woff2') format('woff2');
}

/* fallback faces tuned to minimize layout shift while brand fonts load */
@font-face {
  font-family: lexia-fallback;
  font-style: normal;
  font-weight: 400;
  size-adjust: 119.3%;
  src: local('Georgia');
}

@font-face {
  font-family: helvetica-neue-fallback;
  font-style: normal;
  font-weight: 400;
  size-adjust: 110.38%;
  src: local('Arial');
}
